

.body {
    --font-prmary: 'Montserrat';

    display: flex;
    
    background-color: linear-gradient(118deg, #1560D4 2.08%, rgba(180, 41, 166, 0.56) 101.39%);
    color: white;
    justify-content: center;
    font-family: var(--font-prmary);
}

.container {
    display: flex;
    background-color: #343D4B;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center; 
}

.board1 {
    display: flex;   
    padding: 40px;
    width: 25vw;
    min-height: 60vh;
    border-radius: 30px;
    background: linear-gradient(152deg, rgba(155, 218, 221, 0.9) -0.04%, rgba(83, 91, 230, 0.90) 100%),url("./images/board-bg.png");
    color: white;
    flex-shrink: 0;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topleft {
    margin: 20px;
}

.botleft {
    margin: 20px;
}

.day {
    flex-shrink: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 16px;
}

.data {
    display: flex;
    flex-shrink: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 10px;
}

.location {
    display: flex; 
} 

.mark {
    flex-shrink: 0;
    padding-right: 8px;
}

.place {
    flex-shrink: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 3px;
}

.sun {
    flex-shrink: 0;
    padding-bottom: 9px;
}

.temp {
    color: #FFF;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 13px;
}

.weather {
    flex-shrink: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.board2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: white;
}

.block2 {
    display: flex;
    flex-direction: column;
    background: #222831;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-top: 55px;
    padding-left: 55px;
    padding-bottom: 62px;
    padding-right: 50px;
}

.top {
    display: flex;
    flex-direction: column;
    padding-bottom: 79px;
}

.first {
    display: flex;
    justify-content: space-between;
}

.line1-title {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
    padding-bottom: 16px;
    padding-right: 72px;
}

.line1-value {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    text-align: right;
    padding-bottom: 23px;
}

.second {
    display: flex; 
    justify-content: space-between;
}

.line2-title {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
    padding-bottom: 16px;
    padding-right: 72px;
}

.line2-value {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    text-align: right;
    padding-bottom: 29px;
}

.third {
    display: flex;
    justify-content: space-between;
}

.line3-title {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
}

.line3-value {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    text-align: right;
}

.middle {
    display: flex;
    padding-bottom: 71px;
    border-radius: 12px;
    
}

.Tue {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #FFFFFF;
    color: black;
    border-radius: 10px;
    box-shadow: 1px 2px 4px 0px #222831;
}

.weekdayTue {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.temperatureTue {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
}

.Wed {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    background: #272E37FC;
    box-shadow: 1px 2px 4px 0px #222831;
}

.weekdayWed {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.temperatureWed {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.weekdayThu {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.temperatureThu {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}


.weekdayFry {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.temperatureFry {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90.8deg, rgba(144, 217, 224, 0.9) 0.2%, rgba(84, 96, 230, 0.9) 100%);
    border-radius: 10px;
    

}

.text {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
}
